<aside class="sidebar">

  <!-- Logo -->
  <div class="brand">
    <h2>Moasher</h2>
    <span>INVENTORY & POS</span>
  </div>

  <!-- Main Navigation -->
  <nav class="navigation">

    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="bi bi-grid-fill"></i>
      <span>Dashboard</span>
    </a>

    <a routerLink="/inventory" routerLinkActive="active">
      <i class="bi bi-box-seam"></i>
      <span>Inventory</span>
    </a>

    <a routerLink="/pos" routerLinkActive="active">
      <i class="bi bi-shop"></i>
      <span>Sales (POS)</span>
    </a>

    <a routerLink="/reports" routerLinkActive="active">
      <i class="bi bi-bar-chart"></i>
      <span>Reports</span>
    </a>

    <a routerLink="/team-members" routerLinkActive="active">
      <i class="bi bi-person-gear"></i>
      <span>Users</span>
    </a>

  </nav>

  <!-- New Sale -->
  <div class="new-sale">
    <a routerLink="/pos">
      <i class="bi bi-plus-lg"></i>
      <span>New Sale</span>
    </a>
  </div>

  <!-- Bottom Navigation -->
  <div class="bottom-navigation">

    <a>
      <i class="bi bi-question-circle"></i>
      <span>Help Center</span>
    </a>

    <a routerLink="/store-settings" routerLinkActive="active">
      <i class="bi bi-gear"></i>
      <span>Settings</span>
    </a>

  </div>

</aside>