.sidebar {
  width: 228px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: #1e293b;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 24px 14px;
  box-sizing: border-box;

  z-index: 1000;
}

/* logo & title */
.brand {
  display: flex;
  flex-direction: column;
  align-items: center; /* تسييط كل المحتوى في المنتصف أفقياً */
  gap: 6px;
  padding: 20px;
}

.brand-header {
  display: flex;
  align-items: center;
  justify-content: center; /* تسييط اللوجو والاسم مع بعض */
  gap: 10px;
}

.brand-logo {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.brand-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
}

.brand-subtitle {
  font-size: 0.55rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.5;
  text-transform: uppercase;
  text-align: center; /* محاذاة النص نفسه في النص */
}

/* Navigation */

.navigation {
  display: flex;
  flex-direction: column;

  gap: 5px;
  margin-top: 25px;
}

.navigation a,
.bottom-navigation a {
  display: flex;
  align-items: center;

  gap: 13px;

  padding: 12px 13px;

  border-radius: 6px;

  color: #94a3b8;
  text-decoration: none;

  font-size: 13px;

  cursor: pointer;

  transition: background 0.2s ease,
              color 0.2s ease;
}

.navigation a i,
.bottom-navigation a i {
  font-size: 16px;
  width: 18px;
}

/* Hover */

.navigation a:hover,
.bottom-navigation a:hover {
  background: #26364d;
  color: white;
}

/* Active */

.navigation a.active,
.bottom-navigation a.active {
  background: #1473e6;
  color: white;
}

/* New Sale */

.new-sale {
  margin-top: auto;

  padding: 20px 0;

  border-bottom: 1px solid #334155;
}

.new-sale a {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  padding: 11px;

  background: #1473e6;
  color: white;

  text-decoration: none;

  border-radius: 5px;

  font-size: 13px;
}

.new-sale a:hover {
  background: #0f62c7;
}

/* Bottom */

.bottom-navigation {
  padding-top: 12px;
}

.bottom-navigation a {
  margin-bottom: 4px;
}