<header class="header">
  <h4 class="store-name">
    <strong *ngIf="settings">
      {{ settings.storeName }}
    </strong>
  </h4>

  <div class="user-info">

    <div class="avatar">

      {{ userName.charAt(0).toUpperCase() }}

    </div>


    <div class="user-details">

      <strong>
        {{ userName }}
      </strong>

      <span>
        {{ userRole }}
      </span>

    </div>

  </div>


  <button type="button" class="logout-btn" (click)="logout()">

    <i class="bi bi-box-arrow-right"></i>

    Logout

  </button>

</header>
