<header class="header">

  <div class="user-info">

    <div class="avatar">

      {{ userName.charAt(0).toUpperCase() }}

    </div>


    <div class="user-details">

      <strong>
        {{ userName }}
      </strong>

      <span>
        {{ userRole }}
      </span>

    </div>

  </div>


  <!-- Search Bar -->
  <div class="search-wrapper">
    <i class="bi bi-search search-icon"></i>
    <input
      type="text"
      class="search-input"
      placeholder="Search inventory, sales...">
  </div>


  <button
    type="button"
    class="logout-btn"
    (click)="logout()">

    <i class="bi bi-box-arrow-right"></i>

    Logout

  </button>

</header>